/*=============================================================
Variables
=============================================================*/

$color-main: #4e91e4;
$color-sub: #eef2f7;
$color-base: #fff;
$color-border: #cccccc;
$color-lightgray: #f5f5f5;
$color-disabled: #c3cbd8;
$color-icon: #292934;
$color-text: #666666;
$shadow: 0 0 6px rgba(2, 10, 26, 0.09);
$bp-sp: 768px;
$bp-tb: 1024px;