@import "../inc/variables";
@import "../inc/mixins";

/*=============================================================
Overwride siimple
=============================================================*/
.siimple-checkbox label {
	border: 1px solid $color-border;
}

.siimple-navbar {
	max-width: 100%;
}

.siimple-input {
	height: 34px;
	line-height: 34px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.siimple-textarea {
	resize: none;
}

.siimple-btn {
	font-size: 1.2rem;
}

.siimple-card {
	background-color: $color-base;
	width: 320px;
}

.siimple-radio > label {
	box-sizing: content-box;
}
