@import "../inc/variables";
@import "../inc/mixins";

/*=============================================================
Reset
=============================================================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	color: $color-text;
}

li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

i {
	color: $color-icon;
}