.l-side {
	width: 220px;
	//background-color: $color-sub;
	li {
		border-bottom: 1px solid $color-sub;
	}
	&-menu {
		a {
			display: block;
			padding: 15px 20px;
			font-weight: normal;
			font-size: 1.4rem;
			&:hover {
				background-color: $color-main;
				color: $color-base;
			}
		}
	}
}