.g-task {
	margin-top: 5px;
	&:first-child {
		margin-top: 0;
	}
	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		line-height: 40px;
		font-size: 1.4rem;
		box-shadow: $shadow;
		padding: 0 20px;
		border-radius: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		height: 100%;
		color: #666666;
	}
	&-children {
		margin: 5px 0 0 20px;
	}
	&-arrow {
		padding: 0 10px 0 0;
	}
	&-name {
		flex: 1;
	}
	&-status {
		position: relative;
		padding: 0 40px 0 20px;
		cursor: pointer;
	}
	&-select {
		position: absolute;
		z-index: 5;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		background-color: $color-base;
		box-shadow: $shadow;
		padding: 10px;
		width: 200px;
		label {
			white-space: nowrap;
		}
		&-close {
			position: absolute;
			top: 5px;
			right: 5px;
			i {
				display: block;
				cursor: pointer;
				font-size: 2.4rem;
			}
		}
	}
	&-archive {
		padding: 0 5px;
	}
	&-archive {
		cursor: pointer;
	}
	&-add {
		padding: 0 5px;
		cursor: pointer;
	}
	&-toggle {
		position: relative;
		padding: 0 5px;
		line-height: 20px;
		&.active {
			cursor: pointer;
		}
		i {
			color: transparent;
		}
		&.active i {
			color: $color-text;
		}
		&.rotate i {
			transform: rotate(-180deg);
		}
		&.active:hover:before {
			content: '子タスクを表示';
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);
			background-color: rgba(0, 0, 0, .8);
			border-radius: 4px;
			width: 100px;
			padding: 4px 0;
			text-align: center;
			font-size: 1rem;
			color: $color-base;
		}
	}
	&-new-child {
		margin: 5px 0 0 20px;
	}
}

.g-box {
	box-shadow: $shadow;
	background-color: $color-base;
	padding: 20px;
	margin-bottom: 20px;
}

.g-input {
	border: 1px solid $color-border;
	margin-bottom: 10px;
	padding: 0 20px;
	height: 44px;
	line-height: 44px;
}

.g-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: 100
}

.g-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 100px);
	max-width: 800px;
	max-height: 600px;
	background-color: $color-base;
	padding: 30px;
}

.g-modal-close-btn {
	position: absolute;
	display: block;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}

/* ==============================
見出し
============================== */

.g-heading-section {
	font-size: 2rem;
	margin: 0 0 20px 0;
}
