.g-task {
	margin-top: 5px;
	&:first-child {
		margin-top: 0;
	}
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		line-height: 40px;
		font-size: 1.4rem;
		box-shadow: $shadow;
		padding: 0 20px;
		border-radius: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		height: 100%;
		color: #666666;
	}
	&-children {
		margin-top: 5px;
	}
	&-arrow {
		padding: 0 10px 0 0;
	}
	&-name {
		flex: 1;
	}
	&-status {
		padding: 0 40px 0 20px;
	}
	&-archive {
		padding: 0 5px;
	}
	&-archive {
		cursor: pointer;
	}
	&-toggle {
		width: 14px;
		position: relative;
		padding: 0 5px;
		line-height: 20px;
		&.active {
			cursor: pointer;
		}
		i {
			color: $color-disabled;
		}
		&.active i {
			color: $color-text;
		}
		&.rotate i {
			transform: rotate(-180deg);
		}
		&.active:hover:before {
			content: '子タスクを表示';
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);
			background-color: rgba(0, 0, 0, .8);
			border-radius: 4px;
			width: 100px;
			padding: 4px 0;
			text-align: center;
			font-size: 1rem;
			color: $color-base;
		}
	}
}

.g-box {
	box-shadow: $shadow;
	background-color: $color-base;
	padding: 20px;
	margin-bottom: 20px;
}

.g-input {
	border: 1px solid $color-border;
	margin-bottom: 10px;
	padding: 0 20px;
	height: 44px;
	line-height: 44px;
}

/* ==============================
見出し
============================== */

.g-heading-section {
	font-size: 2rem;
	margin: 0 0 20px 0;
}