/*=============================================================
Utilities
=============================================================*/
.gl-left {
	text-align: left;
}
.gl-center {
	text-align: center;
}
.gl-right {
	text-align: right;
}

.gl-inner {
	width: calc(100vw - 40px);
	max-width: 1000px;
	margin: 0 auto;
}
