/*=============================================================
Utilities
=============================================================*/
.g-left {
	text-align: left;
}
.g-center {
	text-align: center;
}
.g-right {
	text-align: right;
}