.page-tasks-search {
	h2 {
		margin-bottom: 20px;
		font-size: 2rem;
	}
	&-contents {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		border-bottom: 1px solid #f5f5f5;
		margin-bottom: 10px;
		> * {
			width: 50%;
			margin-bottom: 10px;
			@include media-tb {
				width: 100%;
			}
		}
	}
	h3 {
		margin-bottom: 5px;
		font-size: 1.6rem;
	}
	&-status {
		padding-bottom: 10px;
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			display: flex;
			align-items: center;
			margin-right: 20px;
			&.is-current {
				font-weight: bold;
			}
		}
		&-color {
			display: block;
			width: 10px;
			height: 14px;
			border-radius: 7px;
			margin-left: 2px;
		}
		&-color.is-new {
			border: 1px solid $color-border;
		}
		&-name {
			font-size: 1.4rem;
		}
	}
	&-keyword {
		input {
			width: 400px;
		}
	}
	&-deadline {
		div {
			display: flex;
			align-items: center;
		}
		span {
			margin-left: 10px;
			font-size: 1.2rem;
		}
	}
	&-created {
		div {
			display: flex;
			align-items: center;
		}
		div &-tilde {
			margin: 0 10px;
		}
	}
	&-member {
		ul {
			display: flex;
		}
		li {
			display: flex;
			align-items: center;
			margin-right: 20px;
		}
		&-name {
			font-size: 1.4rem;
		}
	}
}

.page-tasks-detail {
	h1 {
		font-size: 2.4rem;
	}
	h2 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 30px 0 10px;
		border-bottom: 2px solid $color-sub;
		padding-bottom: 10px;
		line-height: 1.2em;
		font-size: 1.8rem;
		&:first-child {
			margin-top: 0;
		}
		i {
			cursor: pointer;
			&.is-editing {
				color: $color-main;
			}
		}
	}
	h3 {
		margin: 20px 0 10px;
		font-size: 1.4rem;
		&:first-child {
			margin-top: 0;
		}
	}
	&-inner {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}
	&-main {
		width: calc(100% - 250px);
	}
	&-side {
		width: 220px;
	}
	&-children {
	}
	&-supplement {
		textarea {
			width: 100%;
		}
		p {
			font-size: 1.4rem;
		}
	}
	&-checklist {
		.list li {
			border-bottom: 1px solid #cccccc;
			padding-bottom: 10px;
			padding-top: 10px;
			&:first-child {
				border-top: 1px solid #cccccc;
			}
		}
	}
	&-comment {
		.list {
			position: relative;
		}
		.list li {
			display: flex;
			align-items: flex-start;
			border: 1px solid $color-border;
			padding: 20px;
			background-color: #fff;
			&:nth-child(n+2) {
				margin-top: 15px;
			}
		}
		.add {
			display: flex;
			align-items: flex-end;
			margin: 20px 0 0;
			textarea {
				width: calc(100% - 64px);
				height: 60px;
				padding: 10px;
				resize: none;
				font-size: 1.4rem;
			}
			input[type="submit"] {
				margin: 0 0 0 10px;
			}
		}
		.user {
			figure {
				overflow: hidden;
				width: 40px;
				height: 40px;
				margin: 0 auto;
				border-radius: 50%;
			}
			img {
				width: 100%;
				height: 100%;
			}
			.name {
				display: block;
				margin-top: 5px;
				white-space: nowrap;
			}
		}
		.activity {
			margin-bottom: 5px;
			font-size: 1.2rem;
			font-weight: bold;
			time {
				margin-left: 10px;
				font-weight: normal;
			}
		}
		.body {
			flex: 1;
			margin-left: 20px;
			textarea {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.message {
			position: relative;
			border-radius: 4px;
			margin-bottom: 10px;
			font-size: 1.2rem;
		}
		.bottom {
			display: flex;
			justify-content: space-between;
		}
		.tools i {
			font-size: 1.4rem;
			cursor: pointer;
			&:nth-child(2) {
				margin-left: 10px;
			}
			&.is-editing {
				color: $color-main;
			}
		}
	}
	&-status {
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 30px;
			text-align: center;
			font-size: 1.2rem;
		}
	}
	&-tags {
		margin-top: 20px;
	}
}

.page-tasks-open-wrap {
	margin-bottom: 10px;
}

